<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="o_o.dao.TmallTradeDao">

	<insert id="saveTmallTrade" parameterType="o_o.model.TmallTrade" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_tmall_trade
			(CONTENT, 
			CREATE_TIME, 
			DATA_STATUS)
		VALUES 
			(#{content}, 
			NOW(), 
			0)
	</insert>

	<select id="queryTmallTradeList" parameterType="map" resultType="o_o.model.TmallTrade">
		select * from t_tmall_trade
		<where>
			<if test="dataStatus != null ">
				and col1 = #{dataStatu}
			</if>
		</where>
	</select>

	<delete id="tmallTradeDelete" parameterType="long" >
		delete from t_tmall_trade where ID = #{id}
	</delete>

</mapper>